<div
  *ngIf="selectedStatus === ResponseStatus.SENT"
  class="mb-4 max-w-[75vw] md:max-w-[60vw] text-ellipsis overflow-hidden sm:mb-8 text-3xl sm:text-5xl font-bold text-nowrap"
>
  Cereri Adeverințe
</div>
<div
  *ngIf="selectedStatus === ResponseStatus.APPROVED"
  class="mb-4 max-w-[75vw] md:max-w-[50vw] text-ellipsis overflow-hidden sm:mb-8 text-3xl sm:text-5xl font-bold text-nowrap"
>
  Adeverințe Aprobate
</div>
<div
  *ngIf="selectedStatus === ResponseStatus.DECLINED"
  class="mb-4 max-w-[75vw] md:max-w-[50vw] text-ellipsis overflow-hidden sm:mb-8 text-3xl sm:text-5xl font-bold text-nowrap"
>
  Adeverințe Respinse
</div>
<div class="md:flex md:justify-between items-center mb-5">
  <div
    class="mb-4 md:mb-0 flex flex-nowrap max-w-[calc(100vw-32px)] overflow-auto gap-4"
  >
    <button
      id="dropdownFacultyCheckboxButton"
      data-dropdown-toggle="dropdownFacultyCheckbox"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="button"
    >
      Facultate
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>

    <div
      id="dropdownFacultyCheckbox"
      class="z-10 hidden !fixed !transform-none !inset-auto !top-[116px] sm:!top-[168px] md:!top-[176px] w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
    >
      <form
        [formGroup]="form"
        class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownSpecializationCheckboxButton"
      >
        <div formArrayName="faculties">
          <div
            *ngFor="let faculty of faculties; let i = index"
            class="flex items-center"
          >
            <input
              type="checkbox"
              [formControlName]="i"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ faculty }}</label
            >
          </div>
        </div>
      </form>
    </div>

    <button
      id="dropdownSpecializationCheckboxButton"
      data-dropdown-toggle="dropdownSpecializationCheckbox"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="button"
    >
      Specializare
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>

    <div
      id="dropdownSpecializationCheckbox"
      class="z-10 hidden max-w-[calc(100vw-167.06px)] !left-[151.06px] sm:!left-[175.06px] !fixed !transform-none !inset-auto !top-[116px] sm:!top-[168px] md:!top-[176px] w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
    >
      <form
        [formGroup]="form"
        class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownSpecializationCheckboxButton"
      >
        <div formArrayName="specializations">
          <div
            *ngFor="let specialization of specializations; let i = index"
            class="flex items-center"
          >
            <input
              type="checkbox"
              [formControlName]="i"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ specialization }}</label
            >
          </div>
        </div>
      </form>
    </div>

    <button
      id="dropdownYearCheckboxButton"
      data-dropdown-toggle="dropdownYearCheckbox"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="button"
    >
      An
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>

    <div
      id="dropdownYearCheckbox"
      class="z-10 hidden xsm:max-w-[calc(100vw-319.66px)] !right-[16px] xsm:!left-[303.66px] sm:!left-[327.66px] !fixed !transform-none !inset-auto !top-[116px] sm:!top-[168px] md:!top-[176px] w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
    >
      <form
        [formGroup]="form"
        class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownYearCheckboxButton"
      >
        <div formArrayName="years">
          <div
            *ngFor="let year of years; let i = index"
            class="flex items-center"
          >
            <input
              type="checkbox"
              [formControlName]="i"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ year }}</label
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <form [formGroup]="searchForm" class="mb-4 md:mb-0 md:w-[40vw] lg:w-[50vw]">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
      >Search</label
    >
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        id="default-search"
        formControlName="searchQuery"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Caută email..."
        required
      />
    </div>
  </form>
</div>

<div class="mb-5 flex flex-nowrap overflow-auto max-w-[calc(100vw-32px)] gap-4">
  <button
    (click)="onStatusChange(ResponseStatus.SENT)"
    type="button"
    class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:focus:ring-yellow-900 text-nowrap"
  >
    În Așteptare
  </button>
  <button
    (click)="onStatusChange(ResponseStatus.APPROVED)"
    type="button"
    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    Aprobate
  </button>
  <button
    (click)="onStatusChange(ResponseStatus.DECLINED)"
    type="button"
    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
  >
    Respinse
  </button>
</div>

<div
  class="relative w-[calc(100vw-32px)] sm:w-[calc(100vw-80px)] max-h-[calc(100vh-321.6px)] sm:max-h-[calc(100vh-397.6px)] md:max-h-[calc(100vh-349.6px)] overflow-auto shadow-md sm:rounded-lg"
>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Tip Adeverință</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Facultate</th>
        <th scope="col" class="px-6 py-3">Specializare</th>
        <th scope="col" class="px-6 py-3">An</th>
        <th scope="col" class="px-6 py-3">Data Emiterii</th>
        <th
          *ngIf="selectedStatus === ResponseStatus.SENT"
          scope="col"
          class="px-6 py-3"
        >
          Motiv Eliberare
        </th>
        <th scope="col" class="px-6 py-3 text-center">Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let studentResponse of allStudentsResponses"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ studentResponse?.template?.name | titlecase }}
        </th>
        <td class="px-6 py-4">
          {{ studentResponse?.student?.email }}
        </td>
        <td class="px-6 py-4">
          {{ studentResponse?.student?.faculty | uppercase }}
        </td>
        <td class="px-6 py-4">
          {{ studentResponse?.student?.specialization | uppercase }}
        </td>
        <td class="px-6 py-4">
          {{ studentResponse?.student?.year }}
        </td>
        <td class="px-6 py-4">
          {{ studentResponse?.responseDate | date: 'dd/MM/yyyy' }}
        </td>
        <td *ngIf="selectedStatus === ResponseStatus.SENT" class="px-6 py-4">
          {{ studentResponse?.reason }}
        </td>
        <td class="px-6 py-4 flex gap-8 items-center justify-between">
          <button
            class="cursor-pointer flex gap-3 items-center"
            (click)="downloadStudentResponse(studentResponse?.filePath)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">Descarcă</div>
          </button>
          <button
            class="cursor-pointer flex gap-3 items-center"
            (click)="loadDocument(studentResponse?.filePath)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-width="2"
                d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
              />
              <path
                stroke="currentColor"
                stroke-width="2"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">
              Vizualizează
            </div>
          </button>

          <button
            *ngIf="selectedStatus === ResponseStatus.SENT"
            class="cursor-pointer flex gap-3 items-center"
            (click)="openEditStudentResponseModal(studentResponse?.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">Editează</div>
          </button>

          <button
            *ngIf="selectedStatus === ResponseStatus.SENT"
            class="cursor-pointer flex gap-3 items-center"
            (click)="openDeleteStudentResponseModal(studentResponse?.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">Șterge</div>
          </button>

          <button
            *ngIf="selectedStatus === ResponseStatus.SENT"
            class="cursor-pointer flex gap-3 items-center"
            (click)="openApproveStudentResponseModal(studentResponse?.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            <div class="hidden md:block text-blue-500 underline">Aprobă</div>
          </button>

          <button
            *ngIf="selectedStatus === ResponseStatus.SENT"
            class="cursor-pointer flex gap-3 items-center"
            (click)="openDeclineStudentResponseModal(studentResponse?.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            <div class="hidden md:block text-blue-500 underline">Respinge</div>
          </button>

          <button
            *ngIf="selectedStatus === ResponseStatus.APPROVED"
            class="cursor-pointer hidden lg:flex gap-3 items-center"
            (click)="printStudentResponse(studentResponse?.filePath)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16.444 18H19a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2.556M17 11V5a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v6h10ZM7 15h10v4a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-4Z"
              />
            </svg>

            <div class="hidden md:block text-blue-500 underline">Printează</div>
          </button>

          <button
            *ngIf="
              selectedStatus === ResponseStatus.DECLINED ||
              selectedStatus === ResponseStatus.APPROVED
            "
            class="cursor-pointer flex gap-3 items-center"
            (click)="openRedoStudentResponseModal(studentResponse?.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 9H8a5 5 0 0 0 0 10h9m4-10-4-4m4 4-4 4"
              />
            </svg>

            <div class="hidden md:block text-blue-500 underline">Înapoi</div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav class="flex justify-center gap-2 mt-4 md:hidden">
  <button
    *ngIf="selectedStatus === ResponseStatus.APPROVED"
    type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Generează Raport
  </button>

  <ul class="flex items-center -space-x-px h-8 text-sm">
    <li>
      <button
        [ngClass]="{'bg-gray-100 text-gray-700': page <= 1}"
        (click)="onPageChange(page - 1)"
        [disabled]="page <= 1"
        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span class="sr-only">Previous</span>
        <svg
          class="w-2.5 h-2.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
      </button>
    </li>
    <li>
      <a
        aria-current="page"
        class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
        >Pagina: {{ page }}</a
      >
    </li>
    <li>
      <button
        [ngClass]="{'bg-gray-100 text-gray-700': page * limit >= totalItems}"
        (click)="onPageChange(page + 1)"
        [disabled]="page * limit >= totalItems"
        class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span class="sr-only">Next</span>
        <svg
          class="w-2.5 h-2.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </button>
    </li>
  </ul>
</nav>

<nav class="hidden mt-4 md:flex md:justify-center md:gap-5">
  <button
    *ngIf="selectedStatus === ResponseStatus.APPROVED"
    type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Generează Raport
  </button>

  <ul class="flex items-center -space-x-px h-10 text-base">
    <li>
      <button
        [ngClass]="{'bg-gray-100 text-gray-700': page <= 1}"
        (click)="onPageChange(page - 1)"
        [disabled]="page <= 1"
        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span class="sr-only">Previous</span>
        <svg
          class="w-3 h-3 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
      </button>
    </li>
    <li>
      <a
        aria-current="page"
        class="z-10 flex items-center justify-center px-4 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
        >Pagina: {{ page }}</a
      >
    </li>
    <li>
      <button
        [ngClass]="{'bg-gray-100 text-gray-700': page * limit >= totalItems}"
        (click)="onPageChange(page + 1)"
        [disabled]="page * limit >= totalItems"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <span class="sr-only">Next</span>
        <svg
          class="w-3 h-3 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </button>
    </li>
  </ul>
</nav>

<app-modal-view></app-modal-view>
<app-secretary-modal-edit></app-secretary-modal-edit>
<app-secretary-modal-delete></app-secretary-modal-delete>
<app-secretary-modal-approve></app-secretary-modal-approve>
<app-secretary-modal-decline></app-secretary-modal-decline>
<app-secretary-modal-redo></app-secretary-modal-redo>
