<div
  id="edit-modal"
  class="overflow-hidden fixed top-0 left-0 z-50 justify-center items-center w-full max-h-full"
>
  <div
    id="overlay"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
  ></div>
  <div class="relative p-4 left-1/2 max-w-2xl transform -translate-x-1/2">
    <div
      class="relative bg-white overflow-auto rounded-lg max-h-[calc(100vh-2rem)] shadow dark:bg-gray-700"
    >
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Editează Un Tip De Adeverință
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="closeModal()"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5 space-y-4">
        <form [formGroup]="modalForm">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Introdu denumirea tipului de adeverință</label
          >
          <input
            formControlName="name"
            name="name"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <label
            class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white"
            >Alege specializările ce pot folosi acest tip de adeverință</label
          >
          <div
            formArrayName="modalSpecializations"
            *ngFor="
              let modalSpecialization of modalSpecializations.controls;
              let i = index
            "
            class="flex items-center"
          >
            <input
              type="checkbox"
              [formControlName]="i"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ specializations[i] }}</label
            >
          </div>

          <button
            (click)="toggleTemplateUpload()"
            *ngIf="!isTemplateUploadEnabled"
            type="button"
            class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Vreau să schimb template-ul adeverinței
          </button>
          <label
            *ngIf="isTemplateUploadEnabled"
            class="block mt-4 mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="template"
            >Încarcă noul template</label
          >
          <div *ngIf="isTemplateUploadEnabled">
            <div class="flex gap-2 items-center">
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                aria-describedby="template_help"
                id="template"
                type="file"
                (change)="onFileSelected($event)"
              />

              <button
                (click)="toggleTemplateUpload()"
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Înapoi
              </button>
            </div>
            <div
              class="mt-1 text-sm text-gray-500 dark:text-gray-300"
              id="template_help"
            >
              Template-ul trebuie să fie un document word cu extensia .docx
            </div>
            <div *ngIf="fileError" class="text-red-600 mt-2">
              {{ fileError }}
            </div>
          </div>

          <label
            class="block mt-4 text-sm font-medium text-gray-900 dark:text-white"
            >Completează ce date vrei să obți de la student în ordinea dorită
            (ex. Nume)</label
          >
          <div
            class="mt-2 flex gap-2 items-center"
            formArrayName="dynamicInputs"
            *ngFor="let input of dynamicInputs.controls; let i = index"
          >
            <input
              [formControlName]="i"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="text"
            />
            <button
              type="button"
              (click)="removeInput(i)"
              class="bg-red-500 text-white p-2 rounded-md"
            >
              <svg
                class="w-6 h-6 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 12h14"
                />
              </svg>
            </button>
          </div>
          <button
            type="button"
            (click)="addInput()"
            class="mt-2 p-2 bg-blue-700 text-white rounded-lg hover:bg-blue-800"
          >
            <svg
              class="w-6 h-6 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 12h14m-7 7V5"
              />
            </svg>
          </button>
        </form>
      </div>
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          (click)="onSubmit()"
          [ngClass]="{
            'bg-gray-200 text-black hover:bg-gray-200': fileError
          }"
          [disabled]="fileError"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Finalizează
        </button>
        <button
          (click)="closeModal()"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Înapoi
        </button>
      </div>
    </div>
  </div>
</div>
