<div class="mb-4 sm:mb-8 text-3xl sm:text-5xl font-bold">Tipuri Adeverințe</div>
<div class="flex justify-between mb-5">
  <button
    id="dropdownCheckboxButton"
    data-dropdown-toggle="dropdownDefaultCheckbox"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button"
  >
    Specializare
    <svg
      class="w-2.5 h-2.5 ms-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>

  <div
    id="dropdownDefaultCheckbox"
    class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
  >
    <form
      [formGroup]="form"
      class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownCheckboxButton"
    >
      <div formArrayName="specializations">
        <div
          *ngFor="let specialization of specializations; let i = index"
          class="flex items-center"
        >
          <input
            type="checkbox"
            [formControlName]="i"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
          />
          <label
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >{{ specialization }}</label
          >
        </div>
      </div>
    </form>
  </div>

  <button
    data-modal-target="add-modal"
    data-modal-toggle="add-modal"
    type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Adaugă tip nou
  </button>
</div>
<div
  class="relative w-[calc(100vw-32px)] sm:w-[calc(100vw-80px)] max-h-[calc(100vh-144px)] sm:max-h-[calc(100vh-220px)] overflow-auto shadow-md sm:rounded-lg"
>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Tip Adeverință</th>
        <th scope="col" class="px-6 py-3">Data Încărcării</th>
        <th scope="col" class="px-6 py-3">Data Actualizării</th>
        <th scope="col" class="px-6 py-3 text-center">Opțiuni</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let template of templates"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ template.name | titlecase }}
        </th>
        <td class="px-6 py-4">
          {{ template.createDate | date: 'dd/MM/yyyy' }}
        </td>
        <td class="px-6 py-4">
          {{ template.updateDate | date: 'dd/MM/yyyy' }}
        </td>
        <td class="px-6 py-4 flex gap-8 items-center justify-between">
          <button
            class="cursor-pointer flex gap-3 items-center"
            (click)="downloadTemplate(template.filePath)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">Descarcă</div>
          </button>
          <button
            class="cursor-pointer flex gap-3 items-center"
            (click)="loadDocument(template.filePath)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-width="2"
                d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
              />
              <path
                stroke="currentColor"
                stroke-width="2"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">
              Vizualizează
            </div>
          </button>

          <button
            class="cursor-pointer flex gap-3 items-center"
            (click)="openEditTemplateModal(template.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">Editează</div>
          </button>

          <button
            class="cursor-pointer flex gap-3 items-center"
            (click)="openDeleteTemplateModal(template.id)"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
              />
            </svg>
            <div class="hidden md:block text-blue-500 underline">Șterge</div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal-add></app-modal-add>
<app-modal-view></app-modal-view>
<app-modal-edit></app-modal-edit>
<app-modal-delete></app-modal-delete>
